<div class="header position-sticky sticky-header top-0 p-2 pt-3 mb-4">
    <div class="container">
        <!-- navbar  -->
        <div class="navbar d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                @if(isObjectEmpty(NguoiDung)){
                <span><a class="text-white text-decoration-none" routerLink="/admin/product">Quản lý sản phẩm của
                        bạn</a></span>
                <div class="hr1 mx-2"></div>
                <span><a class="text-white text-decoration-none">Xin chào! {{ NguoiDung.TenNguoiDung }}</a></span>
                <div class="hr1 mx-2"></div>
                <span><a class="text-white text-decoration-none" (click)="DangXuat(NguoiDung)"
                        style="cursor: pointer;">Đăng xuất</a></span>
                <div class="hr1 mx-2"></div>

                <img class="icon-media mr-2 ml-2" src="assets/facebook.png" alt="" />
                <img class="icon-media mr-2" src="assets/instagram.png" alt="" />
                } @else{

                <span><a routerLink="/login" class="text-white text-decoration-none">Đăng nhập</a></span>
                <div class="hr1 mx-2"></div>
                <span><a routerLink="/register" class="text-white text-decoration-none">Đăng ký</a></span>
                <div class="hr1 mx-2"></div>

                <img class="icon-media mr-2 ml-2" src="assets/facebook.png" alt="" />
                <img class="icon-media mr-2" src="assets/instagram.png" alt="" />

                }
            </div>
            <div class="d-flex align-items-center text_contact">
                <img class="icon-media mr-2" src="assets/notif.png" alt="" />
                <span class="mr-4" style="padding-left: 5px">Thông báo</span>
                <img class="icon-media mr-2" style="padding-left: 5px" src="assets/bantuan.png" alt="" />
                <span class="mr-4" style="padding-left: 5px">Gợi ý</span>
                <span class="font-weight-bold" style="padding-left: 5px">Liên hệ: 0869536182</span>
            </div>
        </div>
        <!-- input search brand -->
        <div class="d-flex align-items-center mt-2" ng-controller="BackToHomeWithLoGo">
            <div class="d-flex align-items-center" style="cursor: pointer" routerLink="/home">
                <img class="brand-img mr-0" src="assets/brand.png" alt="" />
                <h2 class="text-brand">Shopee</h2>
            </div>
            <div class="wrap-navbar-input">
                <div class="wrap-search">
                    <input type="text" class="form-control" placeholder="Shopee bao shop 0Đ - đăng ký ngay!" />
                    <div class="wrap-icon-s">
                        <img class="icon-media" src="assets/search.png" alt="" />
                    </div>
                </div>
            </div>
            <img class="icon-shop" src="assets/shop.png" style="cursor: pointer" alt="" routerLink="/cart" />
        </div>
    </div>
</div>
<div class="container-fluid">
    <router-outlet> </router-outlet>
</div>

<div class="footer">
    <div class="container p-3">
        <p class="title font-weight-bold">SHOPEE - GÌ CŨNG CÓ, MUA HẾT Ở SHOPEE</p>
        <p class="desc">
            Nếu bạn đang tìm kiếm một trang web để mua và bán hàng trực tuyến thì
            Shopee.vn là một sự lựa chọn tuyệt vời dành cho bạn. Shopee là trang
            thương mại điện tử cho phép người mua và người bán tương tác và trao đổi
            dễ dàng thông tin về sản phẩm và chương trình khuyến mãi của shop. Do đó,
            việc mua bán trên Shopee trở nên nhanh chóng và đơn giản hơn. Bạn có thể
            trò chuyện trực tiếp với nhà bán hàng để hỏi trực tiếp về mặt hàng cần
            mua. Còn nếu bạn muốn tìm mua những dòng sản phẩm chính hãng, uy tín,
            Shopee Mall chính là sự lựa chọn lí tưởng dành cho bạn. Để bạn có thể dễ
            dàng khi tìm hiểu và sử dụng sản phẩm, Shopee Blog - trang blog thông tin
            chính thức của Shopee - sẽ giúp bạn có thể tìm được cho mình các kiến thức
            về xu hướng thời trang, review công nghệ, mẹo làm đẹp, tin tức tiêu dùng
            và deal giá tốt bất ngờ. Đến với Shopee, cơ hội để trở thành một nhà bán
            hàng dễ dàng hơn bao giờ hết. Chỉ với vài thao tác trên ứng dụng, bạn đã
            có thể đăng bán ngay những sản phẩm của mình. Không những thế, các nhà bán
            hàng có thể tự tạo chương trình khuyến mãi trên Shopee để thu hút người
            mua với những sản phẩm có mức giá hấp dẫn. Khi đăng nhập tại Shopee Kênh
            người bán, bạn có thể dễ dàng phân loại sản phẩm, theo dõi đơn hàng, chăm
            sóc khách hàng và cập nhập ngay các hoạt động của shop. Bên cạnh đó,
            Shopee hợp tác với nhiều đơn vị vận chuyển uy tín trên thị trường như
            SPX,... nhằm cung cấp dịch vu giao nhận và vận chuyển tiện lợi cho cả
            khách hàng và người bán. Cùng với nhiều ưu đãi với chi phí giao hàng hợp
            lý, Shopee đảm bảo cho khách hàng trải nghiệm mua sắm thuận tiện nhất.
        </p>

        <p class="title font-weight-bold mt-5">
            TẢI ỨNG DỤNG SHOPEE NGAY ĐỂ MUA BÁN ONLINE MỌI LÚC, MỌI NƠI
        </p>
        <p class="desc">
            Ưu điểm của ứng dụng Shopee là cho phép bạn mua và bán hàng mọi lúc, mọi
            nơi. Bạn có thể tải ứng dụng Shopee cũng như đăng sản phẩm bán hàng một
            cách nhanh chóng và tiện lợi. Ngoài ra, ứng dụng Shopee còn có những ưu
            điểm sau: Giao diện thân thiện, đơn giản, dễ sử dụng. Bạn sẽ dễ dàng thấy
            được ngay những sản phẩm nổi bật cũng như dễ dàng tìm đến các ô tìm kiếm,
            giỏ hàng hoặc tính năng chat liền tay. Ứng dụng tích hợp công nghệ quản lý
            đơn mua và bán hàng tiện lợi trên cùng một tài khoản. Bạn sẽ vừa là người
            mua hàng, vừa là người bán hàng rất linh hoạt, dễ dàng. Cập nhập thông tin
            khuyến mãi, Shopee Flash Sale nhanh chóng và liên tục. Tại Shopee, bạn có
            thể lưu các mã giảm giá, Voucher Xtra và mã miễn phí vận chuyển toàn quốc.
            Bên cạnh đó, Shopee cũng sẽ có những chiến dịch khuyến mãi lớn hằng năm
            như Sale 2.2, Sale 3.3, Sale 4.4, Sale 5.5, Sale 6.6, Sale 7.7, Sale 8.8,
            Sale 9.9, Sale 10.10, Sale 11.11, Sale Sinh Nhật 12.12; Khuyến Mãi Tết thả
            ga săn sale quà Tết chất lượng. Đây là thời điểm để người mua hàng có thể
            nhanh tay chọn ngay cho mình những mặt hàng ưa thích với mức giá giảm kỉ
            lục. Ngoài ra, bạn còn có thể thỏa thích săn sale vào các ngày trong tháng
            như Sale giữa tháng và Sale cuối tháng đón lương về, hoặc đón xem Shopee
            Live để săn hàng ngàn deal hời giá sốc.
        </p>

        <p class="title font-weight-bold mt-5">TOP THƯƠNG HIỆU NỔI BẬT</p>
        <div class="d-flex">
            <div class="d-flex flex-column">
                <p class="desc mb-0 font-weight-bold">Truong Minh Nhut</p>
                <p class="desc">
                    Truong Minh Nhut | Truong Minh Nhut | Truong Minh Nhut
                </p>
                <p class="desc">
                    Truong Minh Nhut | Truong Minh Nhut | Truong Minh Nhut
                </p>
            </div>
            <div class="d-flex flex-column ml-5">
                <p class="desc font-weight-bold">Truong Minh Nhut</p>
                <p class="desc">
                    Truong Minh Nhut | Truong Minh Nhut | Truong Minh Nhut
                </p>
                <p class="desc">
                    Truong Minh Nhut | Truong Minh Nhut | Truong Minh Nhut
                </p>
            </div>
            <div class="d-flex flex-column ml-5">
                <p class="desc font-weight-bold">Truong Minh Nhut</p>
                <p class="desc">
                    Truong Minh Nhut | Truong Minh Nhut | Truong Minh Nhut
                </p>
                <p class="desc">
                    Truong Minh Nhut | Truong Minh Nhut | Truong Minh Nhut
                </p>
            </div>
            <div class="d-flex flex-column ml-5">
                <p class="desc font-weight-bold">Truong Minh Nhut</p>
                <p class="desc">
                    Truong Minh Nhut | Truong Minh Nhut | Truong Minh Nhut
                </p>
                <p class="desc">
                    Truong Minh Nhut | Truong Minh Nhut | Truong Minh Nhut
                </p>
            </div>
            <div class="d-flex flex-column ml-5">
                <p class="desc font-weight-bold">Truong Minh Nhut</p>
                <p class="desc">
                    Truong Minh Nhut | Truong Minh Nhut | Truong Minh Nhut
                </p>
                <p class="desc">
                    Truong Minh Nhut | Truong Minh Nhut | Truong Minh Nhut
                </p>
            </div>
        </div>

        <p class="title font-weight-bold" style="margin-top: 100px">
            CHĂM SÓC KHÁCH HÀNG
        </p>
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
                <p class="desc font-weight-bold">CHĂM SÓC KHÁCH HÀNG</p>
                <p class="mb-1 desc">Giới Thiệu Về Shopee Việt Nam</p>
                <p class="mb-1 desc">Giới Thiệu Về Shopee Việt Nam</p>
                <p class="mb-1 desc">Giới Thiệu Về Shopee Việt Nam</p>
            </div>
            <div class="d-flex flex-column ml-5">
                <p class="desc font-weight-bold">VỀ SHOPEE</p>
                <p class="mb-1 desc">Giới Thiệu Về Shopee Việt Nam</p>
                <p class="mb-1 desc">Tuyển Dụng</p>
                <p class="mb-1 desc">Điều Khoản Shopee</p>
            </div>
            <div class="d-flex flex-column ml-5">
                <p class="desc font-weight-bold">THANH TOÁN</p>
                <div class="d-flex align-items-center">
                    <img src="assets/bca.png" alt="" width="60" height="30" />
                    <img class="ml-2" src="assets/bca.png" width="60" height="30" alt="" />
                </div>
            </div>
            <div class="d-flex flex-column ml-5">
                <p class="desc font-weight-bold">THEO DÕI CHÚNG TÔI TRÊN</p>
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <img src="assets/facec.png" width="20" height="20" alt="" />
                        <span class="desc ml-3">Minh Nhut</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="assets/facec.png" width="20" height="20" alt="" />
                        <span class="desc ml-3">Minh Nhut</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="assets/facec.png" width="20" height="20" alt="" />
                        <span class="desc ml-3">Minh Nhut</span>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="d-flex justify-content-between mt-5 pb-3" style="color: #888">
            <span> &copy; Shopee 2024. Truong Minh Nhut </span>
            <span>© 2024 Shopee. Tất cả các quyền được bảo lưu.: Singapura | Indonesia |
                Taiwan | Thailand | Malaysia | Vietnam | Filipina |</span>
        </div>
    </div>
</div>