<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a class="text-primary text-decoration-none" routerLink="/home">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Chi tiết</li>
        </ol>
    </nav>
</div>

<div class="container-fluid bg-secondly mt-4">
    <div class="container" style="background-color: white; padding: 15px;">
        <div class="row">
            <div class="col-lg-4">
                <!-- <img src="assets/ImageProduct/imgProductDetail1.jpg"  alt=""> -->
                <img [src]="'http://localhost:4000/images/' +HinhAnhDauTien" width="100%" alt="Hình ảnh" />

            </div>
            <div class="col-lg-8">
                <div class="title_product_detail">
                    <p class="text_nameProduct_detail"> {{TenSanPham}}</p>
                </div>
                <div>
                    <span style="font-size: 18px; text-decoration: underline; color: #ee4d2d;">4.7</span>
                    <span class="startDanhGia">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 15 15" view-box="0 0 15 15"
                            x="0" y="0" height="22" width="15" stroke="#ee4d2d">
                            <polygon fill="none"
                                points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" />
                        </svg>
                    </span>
                    <span class="startDanhGia">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 15 15" view-box="0 0 15 15"
                            x="0" y="0" height="22" width="15" stroke="#ee4d2d">
                            <polygon fill="none"
                                points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" />
                        </svg>
                    </span>
                    <span class="startDanhGia">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 15 15" view-box="0 0 15 15"
                            x="0" y="0" height="22" width="15" stroke="#ee4d2d">
                            <polygon fill="none"
                                points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" />
                        </svg>
                    </span>
                    <span class="startDanhGia">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 15 15" view-box="0 0 15 15"
                            x="0" y="0" height="22" width="15" stroke="#ee4d2d">
                            <polygon fill="none"
                                points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" />
                        </svg>
                    </span>
                    <span class="startDanhGia" style="border-right: 0.5px solid grey; padding-right: 20px;">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 15 15" view-box="0 0 15 15"
                            x="0" y="0" height="22" width="15" stroke="#ee4d2d">
                            <polygon fill="none"
                                points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" />
                        </svg>
                    </span>
                    <span class="danhGia_detail_product">
                        <span class="soluong_danhgia_detail_product">157</span>

                        <span class="title_danhgia_detail_product">Đánh giá</span>
                    </span>
                    <span class="daBan_detail_product">
                        <span class="soluong_daBan_detail_product">4k4</span>

                        <span class="title_daBan_detail_product">Đã bán</span>
                    </span>
                </div>

                <div id="price_product_detail">
                    <div>
                        <span class="firstelement_price_prod">đ{{DonGia}}</span>
                        <span class="secondelement_price_prod">đ{{DonGiaDaGiam}}</span>
                    </div>
                </div>

                <div class="QWE12_B">
                    <span class="text-secondary ">Vận chuyển</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/d9e992985b18d96aab90.png"
                        height="20" class="Fy4A_Q">
                    <span class="font-weight-bolds">Miễn phí vận chuyển</span>

                    <p class="text-secondary pt-2">Giảm giá: <span class="font-weight-bolds Fy4A_Q"
                            style="margin-left: 10px;">{{GiamGia}}%</span>
                    </p>
                </div>
                <div class="ERTTT_2">
                    <div class=" align-items-center">
                        <div class="row">
                            <div class="col-sm-2"> <span class="text-secondary text_sl">Số lượng</span>
                            </div>
                            <div class="col-sm-2">
                                <input type="number" width="100px" [(ngModel)]="SoLuongDaChon"
                                    (input)="ThayDoiSoLuong()" min="1" [max]="SoLuong"
                                    class="form-control select_soluong">
                            </div>
                            <div class="col-sm-3"> <span class="text-secondary">{{SoLuong}} sản phẩm có sẵn</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-5 btn_bothBuy row gx-2">
                    <div class="col-sm-4 mt-1">
                        <button class="btn_addToCart equal w-100" (click)="AddToCart()"><i
                                class="bi bi-cart-plus"></i><a>Thêm vào giỏ
                                hàng</a></button>
                    </div>
                    <div class="col-sm-2 mt-1">
                        <button class="btn_buynow equal w-100">Mua ngay</button>
                    </div>
                </div>


            </div>



        </div>
    </div>
</div>
<div class="container bg-white mt-3">
    <div class="row p-4">
        <div class="col-lg-1"><img id="img_profile"
                src="https://down-vn.img.susercontent.com/file/b94257a4a46e08cbc131607802f331fa_tn" alt=""></div>
        <div class="col-lg-2">
            <div class="row">
                <div class="row-sm-3 font-weight-bold"><b>binhcao86</b></div>
                <div class="row-sm-3">Online 5 giờ trước</div>
                <div class="row-sm-6">
                    <div class="row gx-1">
                        <div class="col-sm-6">
                            <button class="w-100 text-white chat_now_button mt-1">Chat Ngay</button>
                        </div>
                        <div class="col-sm-6">
                            <button class="w-100 bg-white see_detail_shop mt-1">Xem Shop</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row pt-2">
                <div class="col text-secondary">Đánh giá</div>
                <div class="col text-danger">5,2k
                </div>
                <div class="w-100"></div>
                <br>
                <div class="col text-secondary">Sản phẩm</div>
                <div class="col text-danger">178</div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row pt-2">
                <div class="col text-secondary">tỉ lệ phản hồi</div>
                <div class="col text-danger">95%
                </div>
                <div class="w-100"></div>
                <br>
                <div class="col text-secondary">thời gian phản hồi</div>
                <div class="col text-danger">trong vài giờ</div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row pt-2">
                <div class="col text-secondary">tham gia</div>
                <div class="col text-danger">5 năm trước
                </div>
                <div class="w-100"></div>
                <br>
                <div class="col text-secondary">Người theo dõi</div>
                <div class="col text-danger">3k</div>
            </div>
        </div>
    </div>
</div>


<div class="container bg-white mt-3 p-4">
    <h5>MÔ TẢ SẢN PHẨM</h5>
    <p>{{MoTa}}</p>
</div>