.title_product_detail {
  padding-right: 50px;
}
.text_nameProduct_detail {
  font-size: 22px;
  font-weight: 400;
}
.startDanhGia {
  padding-bottom: 2px;
}
.danhGia_detail_product {
  padding-left: 20px;
  border-right: 1px solid grey;
  padding-bottom: 3px;
}
.soluong_danhgia_detail_product {
  text-decoration: underline;
  font-size: 17px;
  font-weight: 500;
  padding-right: 5px;
}
.title_danhgia_detail_product {
  color: grey;
  padding-right: 20px;
}

.daBan_detail_product {
  padding-left: 20px;
}
.soluong_daBan_detail_product {
  font-size: 17px;
  font-weight: 500;
  text-decoration: underline;
  padding-right: 5px;
}

.title_daBan_detail_product {
  color: grey;
  padding-right: 20px;
}
#price_product_detail {
  background-color: #eeedeb;
  margin-top: 10px;
  height: 80px;
  padding: 16px;
  padding-top: 1.8rem;
  border-radius: 3px;
}
.firstelement_price_prod {
  font-size: 1em;
  color: gray;
  text-decoration-line: line-through;
  margin-right: 10px;
}
.secondelement_price_prod {
  color: #ee4d2d;
  font-size: 1.875rem;
  font-weight: 400;
}
.QWE12_B {
  padding-left: 20px;
  padding-top: 20px;
}

.Fy4A_Q {
  padding-left: 30px;
}
.ERTTT_2 {
  padding-left: 20px;
}
.text_sl {
  margin-right: 30px;
}
.btn_addToCart {
  height: 50px;

  border: 1px solid #ee4d2d;
  background-color: #fff4f1;
  color: #ee4d2d;
}
.btn_buynow {
  height: 50px;

  border: 2px solid #ee4d2d;
  background-color: #ee4d2d;
  color: white;
}

@media (max-width: 768px) {
  .text_contact {
    display: none !important;
  }
  .text_nameProduct_detail {
    font-size: 22px;
    font-weight: 400;
    padding-top: 15px;
  }
  .select_soluong {
    width: 80px;
  }
}

#img_profile {
  width: 80px;
  border-radius: 50px;
  border: 1px solid gray;
}
.chat_now_button {
  font-size: 14px;
  height: 40px;
  border: 1px solid #ee4d2d;
  background-color: #ee4d2d;
}
.see_detail_shop {
  font-size: 14px;
  height: 40px;
  border: 1px solid gray;
}
