<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl">
        <form (ngSubmit)="ThemSanPham()">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm sản phẩm</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="" class="form-label">Mã sản phẩm</label>
                            <input type="text" [formControl]="MaSanPham_Add" [(ngModel)]="MaSanPham"
                                class="form-control" readonly name="MaSanPham" />
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Số lượng</label>
                            <input type="number" [(ngModel)]="SoLuong" class="form-control" name="SoLuong" />
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Đơn vị tính</label>
                            <input type="text" [(ngModel)]="DonViTinh" class="form-control" name="DonViTinh" />
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Đơn giá </label>
                            <input type="text" [(ngModel)]="DonGia" class="form-control" name="DonGia" />
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Tên sản phẩm</label>
                            <input type="text" [formControl]="TenSanPham_Add" [(ngModel)]="TenSanPham"
                                class="form-control" name="TenSanPham" />
                            @if(TenSanPham_Add.invalid && (TenSanPham_Add.dirty || TenSanPham_Add.touched)){
                            <small class="text-danger">Mã sản phẩm is required.
                            </small>
                            }
                        </div>

                        <div class="col-sm-4">
                            <label for="" class="form-label">Danh Mục</label>
                            <!-- <input type="text" [(ngModel)]="MaDanhMuc" class="form-control" /> -->

                            <select name="" id="" [(ngModel)]="MaDanhMuc" class="form-select" name="MaDanhMuc">

                                @for (dm of DanhMuc; track $index) {
                                <option [value]='dm.MaDanhMuc'>{{dm.MaDanhMuc}} -
                                    {{dm.TenDanhMuc}} </option>
                                }
                            </select>

                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Hình ảnh</label>
                            <input type="file" (change)="inputFileAnh($event)" multiple class="form-control"
                                name="image" />
                        </div>

                        <div class="col-sm-4">
                            <label for="" class="form-label">Hãng </label>
                            <input type="text" [(ngModel)]="Hang" class="form-control" name="Hang" />
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Giảm Giá </label>
                            <input type="text" [(ngModel)]="GiamGia" class="form-control" name="GiamGia" />
                        </div>
                        <div class="col-sm-12">
                            <label for="" class="form-label">Mô tả</label>
                            <!-- <area [(ngModel)]="MoTa" class="form-control" > -->
                            <textarea name="MoTa" id="" [(ngModel)]="MoTa" class="form-control" style="width: 100%;"
                                rows="3"></textarea>
                        </div>
                    </div>
                </div>



                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Hủy
                    </button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                        Thêm sản phẩm
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid" ng-controller="ProductController">
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" (click)="ThayDoiMaRandom()"
        data-bs-target="#myModal">
        Thêm sản phẩm
    </button>
    <table class="table table-bordered table-striped text-center table-reponsive">
        <thead class="">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã sản phẩm</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Danh Mục</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Hãng</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Giảm giá</th>
                <th scope="col">Tình Trạng</th>
                <th scope="col">Tùy chọn</th>

            </tr>
        </thead>
        <tbody>
            @for (sp of SanPham; track $index) {
            <tr>
                <th scope="row" class="align-middle">{{$index+1}}</th>
                <td class="align-middle">
                    {{sp.MaSanPham}}</td>
                <td class="align-middle">{{sp.TenSanPham}}</td>
                <td class="align-middle">{{sp.SoLuong}}</td>
                <td class="align-middle">{{sp.DonGia}}đ</td>
                <td class="align-middle">{{sp.MaDanhMuc}}</td>
                <td class="align-middle">
                    <img [src]="'http://localhost:4000/images/' + sp.HinhAnhDauTien" width="130px" alt="Hình ảnh" />
                </td>
                <td class="align-middle">{{sp.Hang}}</td>
                <td class="align-middle">{{sp.MoTa}}</td>
                <td class="align-middle">{{sp.GiamGia}}%</td>
                <td class="align-middle">{{sp.TinhTrang}}</td>
                <td class="text-center align-middle">
                    <div class="dropdown">
                        <button class="border-0" style="background-color: rgba(0, 0, 0, 0)" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                    data-bs-target="#editModal" (click)="SuaSanPham(sp.MaSanPham)">
                                    Sửa
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                    data-bs-target="#deleteConfirmationModal" (click)="XoaSanPham(sp.MaSanPham)">
                                    Xóa
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center">
            <li class="page-item " (click)="PrevPage()" style="cursor: pointer;">
                <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            @for( sp of totalPage; track $index){

            <li class="page-item">
                <a class="page-link" [routerLink]="'/admin/product/'+sp"
                    (click)="getDataSanPhamVaDanhMuc()">{{$index+1}}</a>
            </li>


            }
            <li class="page-item " (click)="NextPage()" style="cursor: pointer;">
                <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
            </li>
        </ul>
    </nav>
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">
                        Xác nhận xóa
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn xóa không?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Hủy
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="confirmDeleteButton"
                        (click)="XacNhanXoaSP()">
                        Xác nhận xóa
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Sửa sản phẩm</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="" class="form-label">Mã sản phẩm</label>
                            <input type="text" [(ngModel)]="MaSanPhamSua" class="form-control" readonly />
                        </div>

                        <div class="col-sm-6">
                            <label for="" class="form-label">Tên sản phẩm</label>
                            <input type="text" [(ngModel)]="TenSanPhamSua" class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label">Số lượng</label>
                            <input type="number" [(ngModel)]="SoLuongSua" class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label">Đơn vị tính</label>
                            <input type="text" [(ngModel)]="DonViTinhSua" class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label">Đơn giá </label>
                            <input type="text" [(ngModel)]="DonGiaSua" class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label">Danh Mục</label>
                            <!-- <input type="text" [(ngModel)]="MaDanhMuc" class="form-control" /> -->

                            <select name="" id="" [(ngModel)]="MaDanhMucSua" class="form-select">

                                @for (dm of DanhMuc; track $index) {
                                <option [value]='dm.MaDanhMuc'>{{dm.MaDanhMuc}} -
                                    {{dm.TenDanhMuc}} </option>
                                }
                            </select>

                        </div>

                        <div class="col-sm-6">
                            <label for="" class="form-label">Ngày thêm </label>
                            <input type="datetime-local" [(ngModel)]="NgayThemSua" readonly class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label">Hãng </label>
                            <input type="text" [(ngModel)]="HangSua" class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label">Giảm Giá </label>
                            <input type="text" [(ngModel)]="GiamGiaSua" class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label">Mô Tả</label>
                            <input type="text" [(ngModel)]="MoTaSua" class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label">Mã Người Dùng</label>
                            <input type="text" [(ngModel)]="MaNguoiDungSua" readonly class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label">Tình trạng</label>
                            <select name="" id="" [(ngModel)]="TinhTrangSua" class="form-select">

                                <option [value]="'Còn Hàng'">
                                    Còn Hàng
                                </option>
                                <option [value]="'Hết Hàng'">
                                    Hết Hàng
                                </option>
                                <option [value]="'Ngưng Bán'">
                                    Ngưng Bán
                                </option>

                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="form-label">Hình ảnh</label>
                            <br>
                            <input type="file" (change)="UpLoadMultipleImg_Edit($event,MaSanPhamSua)"
                                class="form-control" multiple>
                        </div>
                    </div>
                    <div class="pt-2">
                        <p>Ảnh previewing</p>

                        @for (hinhAnh of imageUrlEdit; track $index) {
                        <img [src]="'http://localhost:4000/images/' + hinhAnh.TenFileAnh" height="60px" alt="">
                        <button id="XoaAnhPreviewing" (click)="XoaHinhAnh($index)"><i class="bi bi-x-lg"></i></button>
                        }

                    </div>
                    <!-- </div> -->
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Hủy
                    </button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="ExecSuaSanPham()">
                        Sửa sản phẩm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>