<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl">
        <form [formGroup]="ThemSanPhamForm" (submit)="ThemSanPham()">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm sản phẩm</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="" class="form-label">Mã sản phẩm</label>
                            <input type="text" formControlName="MaSanPhamThem" class="form-control" readonly
                                name="MaSanPham" />

                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Số lượng</label>
                            <input type="number" formControlName="SoLuongThem" class="form-control" name="SoLuong" />
                            @if(SoLuongThem?.invalid && (SoLuongThem?.dirty || SoLuongThem?.touched)){
                            @if(SoLuongThem?.errors?.['required']){
                            <small class="text-danger">Vui lòng nhập số lượng.</small>
                            }
                            @if(SoLuongThem?.errors?.['min']){
                            <small class="text-danger">Số lượng quá ít</small>
                            }

                            }
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Đơn vị tính</label>
                            <input type="text" formControlName="DonViTinhThem" class="form-control" name="DonViTinh" />
                            @if(DonViTinhThem?.invalid && (DonViTinhThem?.dirty || DonViTinhThem?.touched)){
                            @if(DonViTinhThem?.errors?.['required']){
                            <small class="text-danger">Vui lòng nhập đơn vị tính</small>
                            }
                            @if(DonViTinhThem?.errors?.['minlength']){
                            <small class="text-danger">Đơn vị tính quá ít</small>
                            <br>
                            }
                            @if(DonViTinhThem?.errors?.['pattern']){
                            <small class="text-danger">Đơn vị tính không chứa dấu hoặc kí tự đặc biệt</small>
                            }

                            }
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Đơn giá </label>
                            <input type="number" formControlName="DonGiaThem" class="form-control" name="DonGia" />
                            @if(DonGiaThem?.invalid && (DonGiaThem?.dirty || DonGiaThem?.touched)){
                            @if(DonGiaThem?.errors?.['required']){
                            <small class="text-danger">Vui lòng nhập đơn giá</small>
                            }
                            @if(DonGiaThem?.errors?.['min']){
                            <small class="text-danger">Đơn giá quá ít</small>
                            }

                            }
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Tên sản phẩm</label>
                            <input type="text" formControlName="TenSanPhamThem" class="form-control"
                                name="TenSanPham" />
                            @if(TenSanPhamThem?.invalid && (TenSanPhamThem?.dirty || TenSanPhamThem?.touched)){
                            @if(TenSanPhamThem?.errors?.['required']){
                            <small class="text-danger">Vui lòng nhập tên sản phẩm</small>
                            }
                            @if(TenSanPhamThem?.errors?.['minlength']){
                            <small class="text-danger">Tên sản phẩm quá ít</small>
                            <br>
                            }
                            @if(TenSanPhamThem?.errors?.['pattern']){
                            <small class="text-danger">Tên sản phẩm không chứa dấu hoặc kí tự đặc biệt</small>
                            }

                            }
                        </div>

                        <div class="col-sm-4">
                            <label for="" class="form-label">Danh Mục</label>

                            <select name="" id="" formControlName="MaDanhMucThem" class="form-select" name="MaDanhMuc">

                                @for (dm of DanhMuc; track $index) {
                                <option [value]='dm.MaDanhMuc'>{{dm.TenDanhMuc}} </option>
                                }
                            </select>
                            @if(MaDanhMucThem?.invalid && (MaDanhMucThem?.dirty || MaDanhMucThem?.touched)){
                            @if(MaDanhMucThem?.errors?.['required']){
                            <small class="text-danger">Vui lòng chọn danh mục</small>
                            }

                            }

                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Hình ảnh</label>
                            <input type="file" formControlName="HinhAnhThem" (change)="inputFileAnh($event)" multiple
                                class="form-control" name="image" />
                            @if(HinhAnhThem?.invalid && (HinhAnhThem?.dirty || HinhAnhThem?.touched)){
                            @if(HinhAnhThem?.errors?.['required']){
                            <small class="text-danger">Vui chọn ảnh</small>
                            <br>
                            }



                            }
                        </div>

                        <div class="col-sm-4">
                            <label for="" class="form-label">Hãng </label>
                            <input type="text" formControlName="HangThem" class="form-control" name="Hang" />
                            @if(HangThem?.invalid && (HangThem?.dirty || HangThem?.touched)){
                            @if(HangThem?.errors?.['required']){
                            <small class="text-danger">Vui lòng nhập hãng</small>
                            }
                            @if(HangThem?.errors?.['minlength']){
                            <small class="text-danger">Hãng quá ít</small>
                            <br>
                            }
                            @if(HangThem?.errors?.['pattern']){
                            <small class="text-danger">Hãng không chứa dấu hoặc kí tự đặc biệt</small>
                            }
                            }
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="form-label">Giảm Giá </label>
                            <input type="number" formControlName="GiamGiaThem" class="form-control" name="GiamGia" />
                            @if(GiamGiaThem?.invalid && (GiamGiaThem?.dirty || GiamGiaThem?.touched)){
                            @if(GiamGiaThem?.errors?.['required']){
                            <small class="text-danger">Vui lòng nhập giảm giá</small>
                            }
                            @if(GiamGiaThem?.errors?.['min']){
                            <small class="text-danger">Giám giá quá ít</small>
                            }
                            @if(GiamGiaThem?.errors?.['max']){
                            <small class="text-danger">Giám giá quá không được quá 100%</small>
                            }

                            }
                        </div>
                        <div class="col-sm-12">
                            <label for="" class="form-label">Mô tả</label>
                            <textarea name="MoTa" formControlName="MoTaThem" id="" class="form-control"
                                style="width: 100%;" rows="3"></textarea>
                            @if(MoTaThem?.invalid && (MoTaThem?.dirty || MoTaThem?.touched)){
                            @if(MoTaThem?.errors?.['required']){
                            <small class="text-danger">Vui lòng nhập mô tả</small>
                            }
                            @if(MoTaThem?.errors?.['minlength']){
                            <small class="text-danger">Mô tả quá ít</small>
                            }

                            }
                        </div>
                    </div>
                </div>



                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Hủy
                    </button>
                    <button type="submit" [disabled]="ThemSanPhamForm.invalid" class="btn btn-success btn_ThemSanPham"
                        data-bs-dismiss="modal">
                        Thêm sản phẩm
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid" style="height: 76vh;" ng-controller="ProductController">
    <div class="row">
        <div class="col-sm-6"> <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
                (click)="ThayDoiMaRandom()" data-bs-target="#myModal">
                Thêm sản phẩm
            </button></div>
        <div class="col-sm-6"> <input type="text" [(ngModel)]="searchTerm" class="form-control w-50"
                placeholder=" Tìm kiếm..." />
        </div>
    </div>

    <!-- <div class="d-flex justify-content-end mb-3"> -->


    <!-- </div> -->

    <table class="table table-bordered table-striped text-center table-reponsive">
        <thead class="">
            <tr>
                <th scope="col">STT</th>
                <th scope="col" (click)="sortData('MaSanPham')">Mã sản phẩm</th>
                <th scope="col" (click)="sortData('TenSanPham')">Tên sản phẩm</th>
                <th scope="col" (click)="sortData('SoLuong')">Số lượng</th>
                <th scope="col" (click)="sortData('DonGia')">Đơn giá</th>
                <th scope="col" (click)="sortData('DanhMuc')">Danh Mục</th>
                <th scope="col" (click)="sortData('HinhAnh')">Hình ảnh</th>
                <th scope="col" (click)="sortData('Hang')">Hãng</th>
                <th scope="col" (click)="sortData('MoTa')">Mô tả</th>
                <th scope="col" (click)="sortData('GiamGia')">Giảm giá</th>
                <th scope="col" (click)="sortData('TinhTrang')">Tình Trạng</th>
                <th scope="col">Tùy chọn</th>

            </tr>
        </thead>
        <tbody>
            @for (sp of filteredItems; track $index) {
            <tr>
                <th scope="row" class="align-middle">{{$index+1}}</th>
                <td class="align-middle">
                    {{sp.MaSanPham}}</td>
                <td class="align-middle">{{sp.TenSanPham}}</td>
                <td class="align-middle">{{sp.SoLuong}}</td>
                <td class="align-middle">{{sp.DonGia}}đ</td>
                <td class="align-middle">{{sp.MaDanhMuc}}</td>
                <td class="align-middle">
                    <img [src]="'http://localhost:4000/images/' + sp.HinhAnhDauTien" width="85px" alt="Hình ảnh" />
                </td>
                <td class="align-middle">{{sp.Hang}}</td>
                <td class="align-middle">{{sp.MoTa}}</td>
                <td class="align-middle">{{sp.GiamGia}}%</td>
                <td class="align-middle">{{sp.TinhTrang}}</td>
                <td class="text-center align-middle">
                    <div class="dropdown">
                        <button class="border-0" style="background-color: rgba(0, 0, 0, 0)" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                    data-bs-target="#editModal" (click)="SuaSanPham(sp.MaSanPham)">
                                    Sửa
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                    data-bs-target="#deleteConfirmationModal" (click)="XoaSanPham(sp.MaSanPham)">
                                    Xóa
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">
                        Xác nhận xóa
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn xóa không?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Hủy
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="confirmDeleteButton"
                        (click)="XacNhanXoaSP()">
                        Xác nhận xóa
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form (submit)="ExecSuaSanPham()" [formGroup]="SuaSanPhamForm">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Sửa sản phẩm</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="" class="form-label">Mã sản phẩm</label>
                                <input type="text" formControlName="MaSanPhamSua" class="form-control" readonly />
                            </div>

                            <div class="col-sm-6">
                                <label for="" class="form-label">Tên sản phẩm</label>
                                <input type="text" formControlName="TenSanPhamSua" class="form-control" />
                                @if(TenSanPhamSua?.invalid && (TenSanPhamSua?.dirty || TenSanPhamSua?.touched)){
                                @if(TenSanPhamSua?.errors?.['required']){
                                <small class="text-danger">Vui lòng nhập tên sản phẩm</small>
                                }
                                @if(TenSanPhamSua?.errors?.['minlength']){
                                <small class="text-danger">Tên sản phẩm quá ít</small>
                                <br>
                                }
                                @if(TenSanPhamSua?.errors?.['pattern']){
                                <small class="text-danger">Tên sản phẩm không chứa dấu hoặc kí tự đặc biệt</small>
                                }

                                }
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label">Số lượng</label>
                                <input type="number" formControlName="SoLuongSua" class="form-control" />
                                @if(SoLuongSua?.invalid && (SoLuongSua?.dirty || SoLuongSua?.touched)){
                                @if(SoLuongSua?.errors?.['required']){
                                <small class="text-danger">Vui lòng nhập số lượng.</small>
                                }
                                @if(SoLuongSua?.errors?.['min']){
                                <small class="text-danger">Số lượng quá ít</small>
                                }

                                }
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label">Đơn vị tính</label>
                                <input type="text" formControlName="DonViTinhSua" class="form-control" />
                                @if(DonViTinhSua?.invalid && (DonViTinhSua?.dirty || DonViTinhSua?.touched)){
                                @if(DonViTinhSua?.errors?.['required']){
                                <small class="text-danger">Vui lòng nhập đơn vị tính</small>
                                }
                                @if(DonViTinhSua?.errors?.['minlength']){
                                <small class="text-danger">Đơn vị tính quá ít</small>
                                <br>
                                }
                                @if(DonViTinhSua?.errors?.['pattern']){
                                <small class="text-danger">Đơn vị tính không chứa dấu hoặc kí tự đặc biệt</small>
                                }

                                }
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label">Đơn giá </label>
                                <input type="number" formControlName="DonGiaSua" class="form-control" />
                                @if(DonGiaSua?.invalid && (DonGiaSua?.dirty || DonGiaSua?.touched)){
                                @if(DonGiaSua?.errors?.['required']){
                                <small class="text-danger">Vui lòng nhập đơn giá</small>
                                }
                                @if(DonGiaSua?.errors?.['min']){
                                <small class="text-danger">Đơn giá quá ít</small>
                                }

                                }
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label">Danh Mục</label>
                                <!-- <input type="text" [(ngModel)]="MaDanhMuc" class="form-control" /> -->

                                <select name="" id="" formControlName="MaDanhMucSua" class="form-select">

                                    @for (dm of DanhMuc; track $index) {
                                    <option [value]='dm.MaDanhMuc'>
                                        {{dm.TenDanhMuc}} </option>
                                    }
                                </select>
                                @if(MaDanhMucSua?.invalid && (MaDanhMucSua?.dirty || MaDanhMucSua?.touched)){
                                @if(MaDanhMucSua?.errors?.['required']){
                                <small class="text-danger">Vui lòng chọn danh mục</small>
                                }

                                }

                            </div>

                            <div class="col-sm-6">
                                <label for="" class="form-label">Ngày thêm </label>
                                <input type="datetime-local" formControlName="NgayThemSua" readonly
                                    class="form-control" />

                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label">Hãng </label>
                                <input type="text" formControlName="HangSua" class="form-control" />
                                @if(HangSua?.invalid && (HangSua?.dirty || HangSua?.touched)){
                                @if(HangSua?.errors?.['required']){
                                <small class="text-danger">Vui lòng nhập hãng</small>
                                }
                                @if(HangSua?.errors?.['minlength']){
                                <small class="text-danger">Hãng quá ít</small>
                                <br>
                                }
                                @if(HangSua?.errors?.['pattern']){
                                <small class="text-danger">Hãng không chứa dấu hoặc kí tự đặc biệt</small>
                                }
                                }
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label">Giảm Giá </label>
                                <input type="number" formControlName="GiamGiaSua" class="form-control" />
                                @if(GiamGiaSua?.invalid && (GiamGiaSua?.dirty || GiamGiaSua?.touched)){
                                @if(GiamGiaSua?.errors?.['required']){
                                <small class="text-danger">Vui lòng nhập giảm giá</small>
                                }
                                @if(GiamGiaSua?.errors?.['min']){
                                <small class="text-danger">Giám giá quá ít</small>
                                }
                                @if(GiamGiaSua?.errors?.['max']){
                                <small class="text-danger">Giám giá quá không được quá 100%</small>
                                }

                                }
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label">Mô Tả</label>
                                <input type="text" formControlName="MoTaSua" class="form-control" />
                                @if(MoTaSua?.invalid && (MoTaSua?.dirty || MoTaSua?.touched)){
                                @if(MoTaSua?.errors?.['required']){
                                <small class="text-danger">Vui lòng nhập mô tả</small>
                                }
                                @if(MoTaSua?.errors?.['minlength']){
                                <small class="text-danger">Mô tả quá ít</small>
                                }

                                }
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label">Mã Người Dùng</label>
                                <input type="text" formControlName="MaNguoiDungSua" readonly class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label">Tình trạng</label>
                                <select name="" id="" formControlName="TinhTrangSua" class="form-select">

                                    <option [value]="'Còn Hàng'">
                                        Còn Hàng
                                    </option>
                                    <option [value]="'Hết Hàng'">
                                        Hết Hàng
                                    </option>
                                    <option [value]="'Ngưng Bán'">
                                        Ngưng Bán
                                    </option>

                                </select>
                                @if(TinhTrangSua?.invalid && (TinhTrangSua?.dirty || TinhTrangSua?.touched)){
                                @if(TinhTrangSua?.errors?.['required']){
                                <small class="text-danger">Vui lòng nhập tình trạng</small>
                                }



                                }
                            </div>
                            <div class="col-sm-6">
                                <label for="" class="form-label">Hình ảnh</label>
                                <br>
                                <input type="file" formControlName="HinhAnhSua"
                                    (change)="UpLoadMultipleImg_Edit($event,SuaSanPhamForm.get('MaSanPhamSua')?.value ||'')"
                                    class="form-control" multiple>
                                @if(HinhAnhSua?.invalid && (HinhAnhSua?.dirty || HinhAnhSua?.touched)){
                                @if(HinhAnhSua?.errors?.['required']){
                                <small class="text-danger">Vui chọn ảnh</small>
                                <br>
                                }



                                }
                            </div>
                        </div>
                        <div class="pt-2">
                            <p>Ảnh previewing</p>

                            @for (hinhAnh of imageUrlEdit; track $index) {
                            <img [src]="'http://localhost:4000/images/' + hinhAnh.TenFileAnh" height="60px" alt="">
                            <button id="XoaAnhPreviewing" (click)="XoaHinhAnh($index)"><i
                                    class="bi bi-x-lg"></i></button>
                            }

                        </div>
                        <!-- </div> -->
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Hủy
                        </button>
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            [disabled]="SuaSanPhamForm.invalid">
                            Sửa sản phẩm
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<nav aria-label="..." class="d-flex justify-content-end ">
    <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="goToPage(currentPage - 1)" tabindex="-1">Previous</a>
        </li>
        @for (page of [].constructor(totalPages); track $index) {
        <li class="page-item" [class.active]="currentPage === $index+ 1">
            <a class="page-link" (click)="goToPage($index + 1)">{{ $index + 1 }}</a>
        </li>
        }
        <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
        </li>
    </ul>
</nav>