#XoaAnhPreviewing {
  border: 0;
  position: relative;
  top: -22px;
  left: -22px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  font-size: 10px;
}

#XoaAnhPreviewing:hover {
  background-color: red;
}
.form-control {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
}
.btn_ThemSanPham {
  cursor: pointer;
  outline: none;

  &[disabled] {
    border: 0;
    background-color: #ccc;
    cursor: not-allowed !important;
  }
}
