<div class="container-fluid mt-4">
    <div class="container ">


        <div class=" border border-warning bg-white p-2">

            <img src="assets/Images/categoriImage2.png" width="30px" alt="">
            <span>Nhấn vào mục Mã giảm giá ở cuối trang để hưởng miễn phí vận chuyển bạn nhé!</span>

        </div>
        <div class="bg-white mt-3 p-3 title_cart">
            <div class="row ">
                <div class="col-sm-4 text_muc"><input class="form-check-input" type="checkbox"
                        style="margin-right: 20px;" value=""><span>Sản
                        phẩm</span>
                </div>
                <div class="col-sm-3 text_muc text-muted text-center">Đơn Giá</div>
                <div class="col-sm-2 text_muc text-muted">Số Lượng</div>
                <div class="col-sm-2 text_muc text-muted">Số Tiền</div>
                <div class="col-sm-1 text_muc text-muted">Thao Tác</div>
            </div>
        </div>




        <div class="bg-white mt-3 p-3">
            <div class="cart-row mb-2 pb-2 border-bottom">
                <div class="cart-col cart-col-checkbox">
                    <input class="form-check-input" type="checkbox" value="">
                </div>
                <div class="cart-col cart-col-image">
                    <img src="assets/ImageProduct/imgProductDetail1.jpg" class="img_cart" width="100px"
                        alt="Product image">
                </div>
                <div class="cart-col cart-col-title truncate-text cartTitle">

                    Áo phông Tommy_Hilfiger nam nữ in vạch sọc đen trắng đỏ chữ kí quanh áo. Áo Thun Unisex Form
                    Rộng Siêu Hot Phiên Bản Mới </div>
                <div class="cart-col cart-col-price">
                    <span class="original-price"><del class="text-muted">₫45.000₫</del></span> ₫35.000
                </div>
                <div class="cart-col cart-col-quantity">
                    <input type="number" value="2" min="1" style="width: 90px;">
                </div>
                <div class="cart-col cart-col-subtotal text-danger">
                    ₫70.000
                </div>
                <div class="cart-col cart-col-remove">
                    <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </div>
            </div>
            <div class="cart-row mb-2 pb-2 border-bottom">
                <div class="cart-col cart-col-checkbox">
                    <input class="form-check-input" type="checkbox" value="">
                </div>
                <div class="cart-col cart-col-image">
                    <img src="assets/ImageProduct/imgProductDetail1.jpg" class="img_cart" width="100px"
                        alt="Product image">
                </div>
                <div class="cart-col cart-col-title truncate-text cartTitle">

                    Áo phông Tommy_Hilfiger nam nữ in vạch sọc đen trắng đỏ chữ kí quanh áo. Áo Thun Unisex Form
                    Rộng Siêu Hot Phiên Bản Mới </div>
                <div class="cart-col cart-col-price">
                    <span class="original-price"><del class="text-muted">₫45.000₫</del></span> ₫35.000
                </div>
                <div class="cart-col cart-col-quantity">
                    <input type="number" value="2" min="1" style="width: 90px;">
                </div>
                <div class="cart-col cart-col-subtotal text-danger">
                    ₫70.000
                </div>
                <div class="cart-col cart-col-remove">
                    <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </div>
            </div>
            <div class="cart-row mb-2 pb-2 border-bottom">
                <div class="cart-col cart-col-checkbox">
                    <input class="form-check-input" type="checkbox" value="">
                </div>
                <div class="cart-col cart-col-image">
                    <img src="assets/ImageProduct/imgProductDetail1.jpg" class="img_cart" width="100px"
                        alt="Product image">
                </div>
                <div class="cart-col cart-col-title truncate-text cartTitle">

                    Áo phông Tommy_Hilfiger nam nữ in vạch sọc đen trắng đỏ chữ kí quanh áo. Áo Thun Unisex Form
                    Rộng Siêu Hot Phiên Bản Mới </div>
                <div class="cart-col cart-col-price">
                    <span class="original-price"><del class="text-muted">₫45.000₫</del></span> ₫35.000
                </div>
                <div class="cart-col cart-col-quantity">
                    <input type="number" value="2" min="1" style="width: 90px;">
                </div>
                <div class="cart-col cart-col-subtotal text-danger">
                    ₫70.000
                </div>
                <div class="cart-col cart-col-remove">
                    <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </div>
            </div>
            <div class="cart-row mb-2 pb-2 border-bottom">
                <div class="cart-col cart-col-checkbox">
                    <input class="form-check-input" type="checkbox" value="">
                </div>
                <div class="cart-col cart-col-image">
                    <img src="assets/ImageProduct/imgProductDetail1.jpg" class="img_cart" width="100px"
                        alt="Product image">
                </div>
                <div class="cart-col cart-col-title truncate-text cartTitle">

                    Áo phông Tommy_Hilfiger nam nữ in vạch sọc đen trắng đỏ chữ kí quanh áo. Áo Thun Unisex Form
                    Rộng Siêu Hot Phiên Bản Mới </div>
                <div class="cart-col cart-col-price">
                    <span class="original-price"><del class="text-muted">₫45.000₫</del></span> ₫35.000
                </div>
                <div class="cart-col cart-col-quantity">
                    <input type="number" value="2" min="1" style="width: 90px;">
                </div>
                <div class="cart-col cart-col-subtotal text-danger">
                    ₫70.000
                </div>
                <div class="cart-col cart-col-remove">
                    <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </div>
            </div>

            <div class="cart-row mb-2 pb-2 border-bottom">
                <div class="cart-col cart-col-checkbox">
                    <input class="form-check-input" type="checkbox" value="">
                </div>
                <div class="cart-col cart-col-image">
                    <img src="assets/ImageProduct/imgProductDetail1.jpg" class="img_cart" width="100px"
                        alt="Product image">
                </div>
                <div class="cart-col cart-col-title truncate-text cartTitle">

                    Áo phông Tommy_Hilfiger nam nữ in vạch sọc đen trắng đỏ chữ kí quanh áo. Áo Thun Unisex Form
                    Rộng Siêu Hot Phiên Bản Mới </div>
                <div class="cart-col cart-col-price">
                    <span class="original-price"><del class="text-muted">₫45.000₫</del></span> ₫35.000
                </div>
                <div class="cart-col cart-col-quantity">
                    <input type="number" value="2" min="1" style="width: 90px;">
                </div>
                <div class="cart-col cart-col-subtotal text-danger">
                    ₫70.000
                </div>
                <div class="cart-col cart-col-remove">
                    <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </div>
            </div>


            <div class="cart-row mb-2 pb-2 border-bottom">
                <div class="cart-col cart-col-checkbox">
                    <input class="form-check-input" type="checkbox" value="">
                </div>
                <div class="cart-col cart-col-image">
                    <img src="assets/ImageProduct/imgProductDetail1.jpg" class="img_cart" width="100px"
                        alt="Product image">
                </div>
                <div class="cart-col cart-col-title truncate-text cartTitle">

                    Áo phông Tommy_Hilfiger nam nữ in vạch sọc đen trắng đỏ chữ kí quanh áo. Áo Thun Unisex Form
                    Rộng Siêu Hot Phiên Bản Mới </div>
                <div class="cart-col cart-col-price">
                    <span class="original-price"><del class="text-muted">₫45.000₫</del></span> ₫35.000
                </div>
                <div class="cart-col cart-col-quantity">
                    <input type="number" value="2" min="1" style="width: 90px;">
                </div>
                <div class="cart-col cart-col-subtotal text-danger">
                    ₫70.000
                </div>
                <div class="cart-col cart-col-remove">
                    <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </div>
            </div>
        </div>

        <div class="container bg-white border mt-3 position-sticky bottom-0 Cart_Money">
            <div class="row p-3 text-center">
                <div class="col-6 col-sm-1 pt-2 div_checkbox"><input type="checkbox"
                        class="form-check-input text_cart_total">
                </div>
                <div class="col-6 col-sm-2 pt-2"><span class="text_cart_total">Chọn tất cả(5)</span></div>
                <div class="col-6 col-sm-2 pt-2"><span class="text_cart_total">Xóa</span></div>
                <div class="col-6 col-sm-3 pt-2"><span class="text_cart_total">Tổng thanh toán (1 sản phẩm)</span>
                </div>
                <div class="col-6 col-sm-2 div_thanhtien"><span class="text_thanhtien">đ90,000</span></div>
                <div class="col-6 col-sm-2">
                    <button class="btn_muahang btn btn-danger"><i class="bi bi-cart-plus-fill"></i></button>
                </div>
            </div>
        </div>




    </div>
</div>