.cart-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  align-items: center;
}
.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cart-col-price {
  margin-right: 60px;
}
@media (min-width: 1204px) {
  .cart-row {
    grid-template-columns: 1% 8% 30% 15% 16% 16% 10%;
  }
}
@media (max-width: 1204px) {
  .cart-row {
    grid-template-columns: 1% 13% 22% 17% 16% 16% 8%;
  }
  .cart-col-title {
    width: 220px;
  }
  .text_muc {
    font-size: 13px;
  }
  .text_cart_total {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .cart-row {
    grid-template-columns: 1% 12% 21% 15% 16% 14% 8%;
  }
  .cart-col-title {
    width: 100px;
    margin-left: 9px;
  }
  .text_muc {
    font-size: 14px;
  }
  .text_cart_total {
    font-size: 13px;
  }
  .div_checkbox {
    padding-top: 12px !important;
  }
  .cart-col-price {
    margin-right: 0px;
  }
}
@media (max-width: 767px) {
  .cart-row {
    display: flex;
    flex-direction: column;
  }

  .img_cart {
    width: 100%;
  }

  .cart-col-title {
    padding-left: 10px;
    width: 100%;
    font-weight: bold;
  }

  .title_cart {
    display: none !important;
  }
  .text_thanhtien {
    color: #ee4d2d;
    font-size: 18px !important;
  }
  .div_thanhtien {
    padding-top: 15px;
  }
  .div_checkbox {
    padding-top: 20px !important;
  }
}
@media (max-width: 575px) {
  .div_thanhtien {
    padding-top: 6px;
  }
}
.btn_muahang {
  background-color: #ee4d2d;
  border: 0;
  color: white;
  height: 45px;
}
.text_thanhtien {
  color: #ee4d2d;
  font-size: 28px;
}
#img_profile {
  width: 80px;
  border-radius: 50px;
  border: 1px solid gray;
}
.chat_now_button {
  font-size: 14px;
  height: 40px;
  border: 1px solid #ee4d2d;
  background-color: #ee4d2d;
}
.see_detail_shop {
  font-size: 14px;
  height: 40px;
  border: 1px solid gray;
}
