<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a class="text-primary text-decoration-none">Trang chủ</a></li>
            <li class="breadcrumb-item "><a class="text-primary text-decoration-none">Chi tiết</a></li>

            <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
        </ol>
    </nav>
</div>
<div class="container-fluid mt-4">
    <div class="container ">


        <div class=" border border-warning bg-white p-2">

            <img src="assets/Images/categoriImage2.png" width="30px" alt="">
            <span>Nhấn vào mục Mã giảm giá ở cuối trang để hưởng miễn phí vận chuyển bạn nhé!</span>

        </div>
        <div class="bg-white mt-3 p-3 title_cart">
            <div class="row ">
                <div class="col-sm-4 text_muc"><input class="form-check-input" type="checkbox"
                        style="margin-right: 20px;" value=""><span>Sản
                        phẩm</span>
                </div>
                <div class="col-sm-3 text_muc text-muted text-center">Đơn Giá</div>
                <div class="col-sm-2 text_muc text-muted">Số Lượng</div>
                <div class="col-sm-2 text_muc text-muted">Số Tiền</div>
                <div class="col-sm-1 text_muc text-muted">Thao Tác</div>
            </div>
        </div>




        <div class="bg-white mt-3 p-3">
            @for (sp of cartData; track $index) {


            <div class="cart-row mb-2 pb-2 border-bottom">
                <div class="cart-col cart-col-checkbox">
                    <input class="form-check-input" [(ngModel)]="sp.CheckBox" (click)="CheckMotSanPham($index)"
                        type="checkbox" value="">
                </div>
                <div class="cart-col cart-col-image">
                    <img src="assets/ImageProduct/imgProductDetail1.jpg" class="img_cart" width="100px"
                        alt="Product image">
                </div>
                <div class="cart-col cart-col-title truncate-text cartTitle">

                    {{sp.SanPham[0].TenSanPham}} </div>
                <div class="cart-col cart-col-price" style="text-align: right;direction: rtl;">
                    <span class="original-price"><del
                            class="text-muted">đ{{sp.SanPham[0].DonGia}}</del></span><b>₫{{sp.GiaDaGiam}}</b>
                </div>
                <input type="number" min="1" [max]="sp.SanPham[0].SoLuong" [(ngModel)]="sp.SoLuong"
                    (input)="ThayDoiSoLuong($index)" class="form-control" style="width: 90px;">

                <div class="cart-col cart-col-subtotal text-danger">
                    ₫{{sp.TongTien}}
                </div>
                <div class="cart-col cart-col-remove">
                    <button class="btn btn-danger" (click)="XoaGioHang(sp.SanPham[0].MaSanPham)"><i
                            class="bi bi-trash"></i></button>
                </div>
            </div>

            }
            <div class="container bg-white mt-3">
                <div class="row p-4">
                    <div class="col-lg-1"><img id="img_profile"
                            src="https://down-vn.img.susercontent.com/file/b94257a4a46e08cbc131607802f331fa_tn" alt="">
                    </div>
                    <div class="col-lg-2">
                        <div class="row">
                            <div class="row-sm-3 font-weight-bold"><b>binhcao86</b></div>
                            <div class="row-sm-3">Online 5 giờ trước</div>
                            <div class="row-sm-6">
                                <div class="row gx-1">
                                    <div class="col-sm-6">
                                        <button class="w-100 text-white chat_now_button mt-1">Chat Ngay</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="w-100 bg-white see_detail_shop mt-1">Xem Shop</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row pt-2">
                            <div class="col text-secondary">Đánh giá</div>
                            <div class="col text-danger">5,2k
                            </div>
                            <div class="w-100"></div>
                            <br>
                            <div class="col text-secondary">Sản phẩm</div>
                            <div class="col text-danger">178</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row pt-2">
                            <div class="col text-secondary">tỉ lệ phản hồi</div>
                            <div class="col text-danger">95%
                            </div>
                            <div class="w-100"></div>
                            <br>
                            <div class="col text-secondary">thời gian phản hồi</div>
                            <div class="col text-danger">trong vài giờ</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row pt-2">
                            <div class="col text-secondary">tham gia</div>
                            <div class="col text-danger">5 năm trước
                            </div>
                            <div class="w-100"></div>
                            <br>
                            <div class="col text-secondary">Người theo dõi</div>
                            <div class="col text-danger">3k</div>
                        </div>
                    </div>
                </div>
            </div>




        </div>

        <div class="container bg-white border mt-3  Cart_Money">
            <div class="row p-3 text-center">
                <div class="col-6 col-sm-1 pt-2 div_checkbox"><input type="checkbox" [(ngModel)]="CheckAll"
                        (click)="CheckAllCheckBox()" class="form-check-input text_cart_total">
                </div>
                <div class="col-6 col-sm-2 pt-3"><span class="text_cart_total">Chọn tất
                        cả({{valueLengthCart}})</span></div>
                <div class="col-6 col-sm-2 pt-2"><span class="text_cart_total">Xóa</span></div>
                <div class="col-6 col-sm-3 pt-3"><span class="text_cart_total">Tổng thanh toán
                        ({{labelSoLuongThanhToan}} sản phẩm)</span>
                </div>
                <div class="col-6 col-sm-2 div_thanhtien"><span class="text_thanhtien">đ{{TongCongTienGioHang}}</span>
                </div>
                <div class="col-6 col-sm-2">
                    <button class="btn_muahang btn btn-danger"><i class="bi bi-cart-plus-fill"></i></button>
                </div>
            </div>
        </div>




    </div>
</div>