<h2>Đăng ký</h2>

<input type="email" [readonly]="isRegisterDisabled" id="username" [(ngModel)]="email"
    placeholder="Điền Email/ Số điện thoại/ Tên đăng nhập" class="form-control mt-3" name="username"><br>
<button (click)="onRegisterClick()" [disabled]="isRegisterDisabled" type="submit" class="btn_DangNhap">Gửi email xác
    nhận</button><br>
@if(isEmailSent){


<div>
    <div class="row">
        <div class="col-sm-6"><input type="number" [readonly]="stepTwoDisabled" [(ngModel)]="enteredOTP"
                placeholder="Enter OTP" class="form-control mt-3" name="otp"><br>
        </div>
        <div class="col-sm-6"><button [disabled]="stepTwoDisabled" (click)="onVerifyClick()"
                style="margin-top: 13px; width: 120px; border-radius: 4px;" class="btn_DangNhap">Verify</button><br>
        </div>
    </div>

</div>
}
@if(showPassWord){
<input type="text" maxlength="35" id="username" [(ngModel)]="matkhau" placeholder="Mật khẩu" class="form-control"
    name="username"><br>
<button (click)="DangKy()" type="submit" class="btn_DangNhap">Đăng ký</button><br>
}

<hr>
<div class="row ">
    <div class="col-6"> <button class="btn_fb bg-white" type="button"><i class="bi bi-facebook"></i>
            Facebook</button><br>
    </div>
    <div class="col-6"> <button class="btn_gg bg-white" type="button"><i class="bi bi-google"></i>
            Google</button>
        <br>
    </div>
</div>
<!-- <div class="row pt-4" style="font-size: 13px;">
    <span class="text-center">Bằng việc đăng kí, bạn đã đồng ý với Shopee về
        <p><a class=" text-decoration-none text-danger ">Điều khoản dịch vụ</a> & <a
                class=" text-decoration-none text-danger">Điều khoản dịch vụ</a></p>

    </span>
</div> -->
<div class="row pt-4">
    <span class="text-center">Bạn đã có tài khoản
        <a class=" text-decoration-none text-danger" routerLink="/login">Đăng Nhập</a></span>
</div>